<div class="about">
  <p>
    About WTF?
  </p>
  <p>
    Focused on the odd, bizarre and strange things of our world, its daily articles and sections explore subjects from Science to Advertising and Technology; over 12 million pages are read at WTF? every month.
  </p>
  <p>

    Selected by PC Magazine among its Top 100 Web Sites of 2008 & 2010, by UK's newspaper The Guardian as one of the the 100 essential websites of 2009 and picked by AsiaOne and Boston.com as a top reference for fun online, it's one of most influential blogs in entertainment, a true classic of the web.
  </p>
  <p>

    More than 4 million webpages around the world link to WTF?s articles, and they have been featured on newspapers such as New York Times, Le Monde and Repubblica and regularly featured at social sites including Reddit, Digg and Mixx.
  </p>

  <p>

    WTF?s reach to millions impacts our readers from around the world in the most unexpected ways:
  </p>

  <p>
    "	A long time ago (I'm talking a really long time... like a year or two), you had a list called "10 Strangest Manias". One of the manias was called Trichotillomania, and thanks to this site, I realized I have it. Because of this, I've been able to keep it under control (well, as much as I can). So, I think it's time I thanked you for it. Thanks, WTF?	"
  </p>
  <span>

    --our reader Felicia
  </span>
</div>
